doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Team61 Newsletter
    style.
      html, body {
        background: #f1f1ff;
        margin: 0;
        padding: 0;
      }
    
      body {
        width: 50%;
        margin: 0 auto;
      }
  body
    header
    main
      - const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
      - for (const message of messages) {
        - const date = `${months[message.date.getMonth()]} ${message.date.getDate()} ${message.date.getFullYear()}`;
          section
            p= date
            h1= message.heading
            p= message.body
      - }
    footer